@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: white;
}

::-webkit-scrollbar{
    display: none ;
}

.about{
    background: white;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    display: flex;
}

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #1f242d;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .2s;
}

.logo:hover{
    text-shadow: 0 0 20px #1f242d;
 }

.arong{
    color:#fb63ee;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #1f242d;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 500ms ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: rgb(255, 115, 255);
}

.navbar a:hover{
    text-shadow: 0 0 30px #1f242d;
}

 .about-content { 
    max-width: 50%;
 }
 .about-content h2{
    font-size: 30px;
    font-weight: 600;
    color: #1f242d;
 }

 .about-content p{
    font-size: 20px;
    font-weight: 400;
    color: #1f242d;
 }

 .about-img img{
    width: 25%;
    border-radius: 100%;
    /* margin: 200px 0 0 0; */
    justify-content: center;
    align-content: center;
    display: flexbox;
 }

 .about-img{
    
 }

 /* SVG DIVIDER */
 .custom-shape-divider-bottom-1681547667 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1681547667 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 200%;
}

.custom-shape-divider-bottom-1681547667 .shape-fill {
    fill: #384151;
}
 /* KEYFRAME ANIMATIONS */

 @keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 @keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }