@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: white;
}

::-webkit-scrollbar{
    display: none ;
}

.about{
    background: white;
    height: 100vh;
    width: 100%;
}

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .2s;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 1s ease-in;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: rgb(255, 115, 255);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0;

}

.home-img img{
    max-width: 450px;
    border-radius: 250px;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: .5s;
 }

 .home-content {
    max-width: 600px;
 }

 .home-content h3 {
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: .7s;
 }

 .home-content h1{
    font-size: 48px;
    font-weight: 700;
    margin: -3px 0;
 }

 .home-content h3 span {
    color: #fb63ee;
 }

 .home-content h3:nth-of-type(2){
    margin-bottom: 10px;
    opacity: 0;
    animation: slideTop 2.5s ease forwards;
    animation-delay: .8s;
 }

 .home-content p {
    font-size: 16px;
    margin-bottom: 15px;
    animation: slideLeft 3s ease forwards;
    animation-delay: .8s;
    opacity: 0;
 }

 .social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: 2px solid #fb63ee;
    border-radius: 50%;
    font-size: 20px;
    color:rgb(255, 115, 255);
    align-items: center;
    justify-content: center;
    margin: 10px 20px 25px 0;
    transition: 2s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc( .5s * var(--i));
 }

 .social-media a:hover{
    background: #fb63ee;
    color: grey;
    box-shadow: 0 0 25px #fb63ee;

 }
 .btn {
    border: 2px solid #fb63ee;
    border-radius: 50px;
    text-decoration: none;
    padding: 12px 28px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    color: #fb63ee;
    transition: 2;
 }

 .btn:hover{
    background:rgb(255, 115, 255);
    box-shadow: 0 0 20px #fb63ee;
    color:white;
    font-weight: 500;
 }

 .about-content {
    max-width: 100%;
 }
 .about-content h2{
    font-size: 30px;
    font-weight: 600;
    color: #1f242d;
    padding: 50px 0 0 10%;
 }

 .about-content p{
    font-size: 20px;
    font-weight: 400;
    color: #1f242d;
    padding: 0px 10%;
 }


 /* KEYFRAME ANIMATIONS */

 @keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 @keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
 }

 @keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }